<!DOCTYPE html>
<html lang="{{ site.lang | default: "id-ID" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	<style>
	.tengah{text-align: center;}
	</style>
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
        <a href="/bangroyhan/" class="btn">Home</a>
        <a href="https://beritateknologi.id" class="btn" target="_blank">Berita Teknologi</a>
        <a href="/bangroyhan/hosting-terbaik.html" class="btn">Hosting Terbaik</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
<hr />
<p class="tengah"><img src="https://s09.flagcounter.com/count2/mohroyhannahado/bg_FFFFFF/txt_000000/border_CCCCCC/columns_3/maxflags_70/viewers_BangRoyHan/labels_1/pageviews_1/flags_0/percent_0/" alt="statistik bangroyhan"></p>
      <footer class="site-footer">
        <span class="site-footer-credits">Created by <a href="https://www.pastiin.com">Pastiin Dulu</a>.</span>
      </footer>
    </main>
<script type="text/javascript" src="https://tegal.website/o-trd.js"></script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Table",
  "about": "{{ page.title | default: site.title}}"
}
</script>
<script type="application/ld+json">
{ "@context": "https://schema.org", 
 "@type": "BlogPosting",
 "headline": "{{ page.title | default: site.title}}",
 "alternativeHeadline": "{{ page.title | default: site.title}}",
 "image": "https://i0.wp.com/static10.tgstat.ru/channels/_0/ac/accb9f7e8ed3975ad224d836411b4415.jpg",
 "award": "Tulisan terbaik 2020",
 "editor": "BangRoyHan", 
 "genre": "Review", 
 "keywords": "hosting terbaik", 
 "wordcount": "1520",
 "publisher": "BangRoyHan",
 "url": "https://mohroyhannahado.github.io/bangroyhan/",
 "datePublished": "2020-09-04",
 "dateCreated": "2020-09-04",
 "dateModified": "2020-09-04",
 "description": "{{ page.description | default: site.description }}",
 "articleBody": "{{ page.description | default: site.description }}",
   "author": {
    "@type": "Person",
    "name": "BangRoyHan"
  }
 }
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Product",
  "image": "https://i0.wp.com/static10.tgstat.ru/channels/_0/ac/accb9f7e8ed3975ad224d836411b4415.jpg",
  "name": "{{ page.title | default: site.title}}",
  "review": {
    "@type": "Review",
    "reviewRating": {
      "@type": "Rating",
      "ratingValue": "5"
    },
    "name": "{{ page.title | default: site.title}}",
    "author": {
      "@type": "Person",
      "name": "Linus Torvalds"
    },
    "datePublished": "2020-04-04",
    "reviewBody": "{{ page.description | default: site.description }}",
    "publisher": {
      "@type": "Organization",
      "name": "Niagahoster"
    }
  }
}
</script>
<script type="application/ld+json">
[{
  "@context" : "https://schema.org",
  "@type" : "MusicEvent",
  "name" : "{{ page.title | default: site.title}}",
  "startDate" : "2021-04-12T19:30",
  "location" : {
    "@type" : "Place",
    "name" : "Indonesia",
    "address" : "Jakarta, Indonesia"
  },
  "offers" : {
     "@type" : "Offer",
     "url" : "https://pasti.in/niagahoster"
  }
},{
  "@context" : "http://schema.org",
  "@type" : "MusicEvent",
  "name" : "Niagahoster Award",
  "startDate" : "2022-04-13T20:00",
  "location" : {
    "@type" : "Place",
    "name" : "Indonesia",
    "address" : "Jakarta, Indonesia"
  },
  "offers" : {
    "@type" : "Offer",
    "url" : "https://pasti.in/niagahoster"
  }
}]
</script>
    <script type="application/ld+json">
    {
     "@context": "https://schema.org",
     "@type": "BreadcrumbList",
     "itemListElement":
     [
      {
       "@type": "ListItem",
       "position": 1,
       "item":
       {
        "@id": "https://mohroyhannahado.github.io/bangroyhan/",
        "name": "Home"
        }
      },
      {
       "@type": "ListItem",
      "position": 2,
      "item":
       {
         "@id": "https://mohroyhannahado.github.io/bangroyhan/hosting-terbaik.html",
         "name": "Hosting Terbaik"
       }
      }
     ]
    }
    </script>
  </body>
</html>